.modalContainer {
  position: fixed;
  top: 0;
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 1;
  left: 100%;
}

.modalContainer:focus {
  outline: none;
}

.modalContentContainer {
  padding: 3rem;
  padding-top: 0;
}

.modalHeader {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  box-sizing: border-box;
  padding-bottom: 0;
}

.closeButtonContainer {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.closeButtonContainer:focus {
  outline: none;
}

.link {
  padding: 2rem 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.link:hover {
  background: #efefef;
  transition: 0.3s;
}

.horizontalLine {
  width: 100%;
  height: 1px;
  background: #adadad;
}
