.container {
  width: 100%;
  position: relative;
}

.container .input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
  padding: 1.5rem;
  border-radius: 5px;
  transition: 0.2s;
  border: 1px solid #e0e0e0;
}

.size-small .input {
  padding: 1rem;
}

.size-medium .input {
  padding: 1.5rem;
}

.size-large .input {
  padding: 2rem;
}

.input:focus {
  outline: none;
  transition: 0.2s;
}

.input::placeholder {
  color: #adadad;
  font-size: 1.6rem;
}

.errorContainer {
  width: 100%;
  text-align: right;
}

.textArea {
  resize: none;
  font-family: inherit;
}
