.button {
  background: none;
  outline: none;
  border: none;
  font-family: 'Inter';
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
}

.type-secondary {
  border: 2px solid #2c9fcd;
  color: #2c9fcd;
}

.type-secondary:hover {
  background: #dbf5ff;
}

.type-primary {
  color: white;
  background: #2c9fcd;
}

.type-primary:hover {
  background: #32aedf;
}
.size-small {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
}

.size-medium {
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

.size-large {
  padding: 1.5rem 2.5rem;
  font-size: 1.6rem;
}

.disabled {
  background: #adadad;
  cursor: unset;
}

.disabled:hover {
  background: #adadad;
}
