span.textClassName {
  font-family: 'Inter';
}
.size-xxsmall {
  font-size: 1rem;
}
.size-xsmall {
  font-size: 1.2rem;
}
.size-small {
  font-size: 1.4rem;
}
.size-medium {
  font-size: 1.8rem;
}
.size-normal {
  font-size: 1.6rem;
}
.size-large {
  font-size: 2.4rem;
}
.size-xlarge {
  font-size: 3.2rem;
}
.size-xxlarge {
  font-size: 3.6rem;
}

.color-primary {
  color: #2c9fcd;
}
.color-white {
  color: white;
}
.color-black {
  color: #1b262c;
}

.color-grey {
  color: #5e6568;
}

.variant-thin {
  font-weight: 100;
}
.variant-extraLight {
  font-weight: 200;
}
.variant-light {
  font-weight: 300;
}
.variant-regular {
  font-weight: 400;
}
.variant-medium {
  font-weight: 500;
}
.variant-semiBold {
  font-weight: 600;
}
.variant-bold {
  font-weight: 700;
}
.variant-extraBold {
  font-weight: 800;
}
.variant-black {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.clickAble {
  cursor: pointer;
}

.block {
  display: block;
}

.textTransform-capitalize {
  text-transform: capitalize;
}

.textTransform-uppercase {
  text-transform: uppercase;
}

.textTransform-lowercase {
  text-transform: lowercase;
}

.textTransform-none {
  text-transform: none;
}

.marginBottom-small {
  margin-bottom: 1rem;
}
.marginBottom-medium {
  margin-bottom: 1.5rem;
}
.marginBottom-large {
  margin-bottom: 2rem;
}
.marginBottom-xlarge {
  margin-bottom: 2.5rem;
}

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-unset {
  text-align: unset;
}
