.container {
  width: 100%;
  padding: 2rem 25rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1170px) {
  .container {
    padding: 2rem;
  }
}

.logo {
  width: 10rem;
}

.logo img {
  width: 100%;
}

.leftContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}

.link {
  cursor: pointer;
}

.hamburgerContainer {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.hamburgerContainer:focus {
  outline: none;
}
