.heroContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70rem;
  box-sizing: border-box;
}

.background {
  background-image: url('../src/Asset/PNG/Image-Warehouse.png');
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.pill {
  height: 1rem;
  width: 5rem;
  background: #2c9fcd;
  border-radius: 0.5rem;
  margin: 2rem 0 1.5rem 0;
}

.heroContainer .textHero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.heroContainer img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  text-align: center;
}

.buttonContainer {
  margin-top: 5rem;
}

.whyPrimaContainer {
  padding: 10rem 15%;
  display: flex;
  justify-content: space-between;
}

.whyPrimaContainer > div {
  width: 45%;
}

.truckImage {
  max-width: 50rem;
  width: 100%;
}

.whyPrimaImage {
  text-align: right;
}

.whyPrimaText {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dashboardPrimaContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 25%;
  text-align: center;
}

.backgroundGrey {
  position: absolute;
  width: 100%;
  height: 40rem;
  background: #f8f8f8;
  z-index: -1;
  top: 0;
}

.dashboardImageContainer {
  width: 100%;
}

.dashboardImageContainer img {
  width: 100%;
}

.dashboardTextContainer {
  margin-top: 3rem;
}

.fiturDashboardPrimaContainer {
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fiturFiturDashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.singleFitur {
  text-align: center;
  width: 30%;
}

.singleFitur img {
  max-width: 11rem;
  width: 100%;
}

.servisKamiContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 15%;
  margin-top: 10rem;
  background-color: #f8f8f8;
}

.servisServisContainer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.singleServis {
  background: white;
  width: 23%;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

.normalServis {
  background: white;
  padding-top: 4rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
}

.hoveredServis {
  padding-top: 4rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  justify-content: flex-start;
  text-align: center;
  background: #2c9fcd;
}

.singleServis img {
  max-width: 100%;
}

.jaringanContainer {
  padding: 10rem 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mapContainer {
  width: 100%;
}

.mapContainer img {
  width: 100%;
}

.jaringanTextContainer {
  padding: 1rem 10%;
}

.contactUsContainer {
  background: #f8f8f8;
  padding: 10rem 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inputsContainer section {
  width: 30%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background: #2c9fcd;
}

.contactButtonContainer {
  margin-top: 2rem;
  width: 100%;
}

.lacakInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  width: 80%;
  margin: auto;
  box-sizing: border-box;
}

.lacakResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.lacakButtonContainer {
  margin-top: 2rem;
  width: 100%;
}

.horizontalLine {
  width: 100%;
  height: 1px;
  background: #e0e0e0;
}

.lacakContainer {
  padding: 0 15%;
}

.hideLacakResponse {
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s;
}

.showLacakResponse {
  transition: 0.3s;
  max-height: 59rem;
  overflow: hidden;
}

.showLacakResponseError {
  transition: 0.3s;
  max-height: 28rem;
  overflow: hidden;
}

.lacakResultCard {
  margin-top: 1rem;
  width: 100%;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 0.3rem;
}

.lacakResultCardHeader {
  padding: 2rem;
  border-bottom: 1px solid #e0e0e0;
}

.lacakResultCardBody {
  padding: 2rem;
  display: flex;
}

.lacakResultErrorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.doneIconContainer {
  width: 4rem;
  margin-right: 1rem;
}

.doneIconContainer img {
  width: 100%;
}

.pendingIconContainer {
  width: 2rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

.pendingIconContainer img {
  width: 100%;
}

.lacakPickupContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.lacakVerticalLine {
  width: 0.5rem;
  height: 5rem;
  background: #e0e0e0;
  margin-left: 1.7rem;
  border-radius: 5rem;
}

.lacakStatusContainer {
  padding: 0rem 5rem;
}

.notification {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  box-sizing: border-box;
  border-radius: 3rem;
}

.success {
  background: #23c552;
}

.error {
  background: #f84f31;
}

@media (max-width: 480px) {
  .highestParent {
    overflow: hidden;
  }
  .textContainer {
    width: unset;
    padding: 0 2rem;
  }
  .lacakContainer {
    padding: 0 2rem;
  }
  .lacakInputContainer {
    width: 100%;
    padding: 5rem 0;
  }
  .lacakResultContainer {
    padding: 5rem 0;
  }
  .lacakResultCardBody {
    display: block;
  }
  .lacakStatusContainer {
    padding: 0;
    margin-top: 2rem;
  }
  .showLacakResponse {
    max-height: 76rem;
  }
  .lacakResultErrorContainer {
    padding: 2rem;
  }
  .whyPrimaContainer {
    display: block;
    padding: 5rem 2rem;
    padding-top: 3rem;
  }
  .whyPrimaContainer > div {
    width: 100%;
  }
  .whyPrimaText {
    margin-top: 2rem;
  }
  .whyPrimaImage {
    text-align: left;
    margin-top: 2rem;
  }
  .dashboardPrimaContainer {
    padding: 5rem 2rem;
  }
  .backgroundGrey {
    height: 20rem;
  }
  .fiturDashboardPrimaContainer {
    padding: 5rem 2rem;
  }
  .fiturFiturDashboard {
    display: block;
  }
  .singleFitur {
    width: 100%;
  }
  .servisKamiContainer {
    margin-top: 0;
    padding: 5rem 2rem;
  }
  .servisServisContainer {
    display: block;
    margin-top: 0;
    padding: 3rem;
  }
  .singleServis {
    box-sizing: border-box;
    width: 100%;
    margin-top: 2rem;
    min-height: 33rem;
  }
  .jaringanContainer {
    padding: 5rem 2rem;
  }
  .jaringanTextContainer {
    padding: 1rem 0;
  }
  .mapContainer {
    width: 90rem;
  }
  .contactUsContainer {
    padding: 5rem 2rem;
  }
  .inputsContainer {
    display: block;
  }
  .inputsContainer section {
    width: 100%;
  }
}
